body{
    background-color: rgb(124, 190, 157);
    margin: 0;
    padding: 0;
}

.wrapper {
    background: linear-gradient(90deg, rgba(50,139,95,1) 8%, rgba(25,96,61,1) 49%, rgba(134,86,18,1) 98%);
    height: 500px;
    width: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 0 15px 45px rgb(26, 71, 49);
    z-index: -2;
}

.pumpkin{
    height: 150px;
    width: 200px;
    position: absolute; 
    margin: auto; 
    left: 0; 
    right: 0;
    top: 150px;
    border-radius: 92px 92px 43px 43px; 
    background-image: linear-gradient(-155deg, transparent 83%, rgba(255,206,120,1) 88% 100%, transparent 88%), linear-gradient(46deg, transparent 73%, rgba(59,209,16,1) 88% 100%, transparent 98%), linear-gradient(90deg, rgba(255,206,120,1) 8%, rgba(221,153,34,1) 28%, rgba(240,157,15,1) 51%, rgba(214,156,33,1) 68%, rgba(221,153,34,1) 85%, rgba(59,209,16,1) 98%);
    box-shadow: -1px 19px 16px 4px rgba(0,0,0,0.69);

    z-index: -1;
}

.pumpkin-stem {
    border: 20px solid rgba(221,153,34,1);
    position: absolute; 
    content: auto; 
    width: 25px;
    height: 50px; 
    right: 65px; 
    top: -49px;
    border-radius: 82% 4% 10% 10% / 82% 63% 0% 0%;
    border-top: none;
    border-bottom: none;
    border-right: none;
}

.pumpkin-stem:before{
    content: "";
    position: absolute; 
    height: 20px;
    width: 15px;
    border: 5px solid rgba(221,153,34,1);
    border-radius: 0 0 15px 15px;
    left: 2px;
    border-top: none;
    border-right: none;
    transform: rotate(180deg);
}

.eye {
    position: absolute; 
    height: 40px; 
    width: 40px;
    background-color: #000;
    top: 40px;
    left: 40px;
    border-radius: 50%;
    border: 7px solid rgba(201,131,0,0.91);
    border-bottom: none;
    border-right: none;
}

.eye:before {
    content:"";
    position: absolute; 
    height: 40px; 
    width: 40px;
    background-color: #000;
    top: -6px;
    left: 63px;
    border-radius: 50%;
    border: 7px solid rgba(201,131,0,0.91);
    border-left: none;
    border-bottom: none;
}

.mouth{
    position: absolute; 
    width: 95px;
    height: 40px;
    background-color: #000;
    left: 50px;
    top: 100px;
    border-radius: 5px 5px 80px 80px;
    border: 6px solid rgba(197, 132, 12, 0.91);
    border-top: none;
    border-left: none;
    border-right: none;
}

.tooth {
    position: absolute; 
    width: 20px;
    height: 20px;
    background-color: rgba(221,153,34,1);
    left: 15px;
    top: 0.4px;
    border-radius: 0px 0px 0px 150px;
    box-shadow: 3px 0px 4px 0px rgba(194, 125, 5, 0.96);
}

.tooth:before{
    content:"";
    position: absolute; 
    width: 20px;
    height: 20px;
    background-color: rgba(221,153,34,1);
    left: 45px;
    top: 0.4px;
    border-radius: 0px 0px 0px 150px;
    box-shadow: 3px 0px 4px 0px rgba(194, 125, 5, 0.96);
    transform: rotateY(180deg);
}